@using NSE.WebApp.MVC.Extensions
@inject IAspNetUser AppUser

@if (AppUser.IsAuthenticated())
{
    <div>
        <vc:cart />
    </div>

    <li class="nav-item">
        <a class="nav-link text-dark" title="Manage">Olá, @AppUser.GetUserEmail()</a>
      <a href="#" class="icontext dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <img class="icon icon-sm rounded-circle" src="https://s.gravatar.com/avatar/@this.HashEmailForGravatar(AppUser.GetUserEmail())?d=mm&s=45">
      </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Identity" asp-action="Logout">Logout</a>
    </li>
}
else
{
    <div class="widget-header">
        <small class="title text-muted">Bem vindo!</small>
        <div>
            <a asp-controller="Identity" asp-action="Register">Create your Account</a> <span> | </span>
            <a asp-controller="Identity" asp-action="Login"> Login</a>
        </div>
    </div>
}