@model NSE.WebApp.MVC.Models.ErrorViewModel
@{
    ViewData["Title"] = @Model.Title;
}
<div class="container">
    <div style="padding-top: 200px; text-align: center">
        @{
            if (Model is null)
            {
            <h2>Ooops! An error ocurred, but don't worry. Our team will be warn and We'll fix it soon!</h2>
            }
            else
            {
            <h2>@Html.Raw(Model.Message)</h2>
            }
        }
    </div>
</div>